<!doctype html>
<html ng-app="myApp" ng-app lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>The Door Runner</title>

    
    <!-- Font (Google Open Sans) -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,600,300,400italic' rel='stylesheet' type='text/css'>
    <!-- Icon Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Unity stuff -->
    <!-- <link rel="stylesheet" href="TemplateData/style.css">
    <link rel="shortcut icon" href="TemplateData/favicon.ico" /> -->
    <script src="TemplateData/UnityProgress.js"></script>

    <!-- Perfect scrollbar -->
    <link rel="stylesheet" href="../css/perfect-scrollbar.min.css" />
    




    <link rel="stylesheet" href="../css/style.css" />

    <script src="js/jquery.min.js"></script>
    <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
    <script src="app.js"></script>

    <script src="js/perfect-scrollbar.min.js"></script>


  </head>
  <body class="template">

  <div id="main-scope" ng-controller="listCtrl">

  
  <!-- Page 1 -->
  <div class="page" id="page-1">
    <div class="align-v-translate">
      <div class="content">
        <div class="live-table-wraper">
          <div class="score-table live nano" id="nano-scoller-1">
          <div class="nano-content">

  <!-- ng-repeat="user in scoreTable | orderBy: 'score*1' : true" ng-class="{'me': (user.id == player.id)}" -->
            <div class="score-table__row cfix" ng-repeat="user in liveScoreTable | orderBy: 'score*1' : true" ng-class="{'me': (user.id == player.id)}">

              <div class="score-table__data score-table__data--platz">
                <span>{{$index + 1}}</span>
              </div>
              <div class="score-table__data score-table__data--name">
                <span>{{user.name}}</span>
              </div>
              <div class="score-table__data score-table__data--score">
                <span>{{user.score}}</span>
              </div>
              <div class="score-table__data score-table__data--land">
                <span>{{user.land}}</span>
              </div>

            </div>
          </div>
          </div>
        </div>
        <div>
          <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
        </div>

      </div>
    </div>
  </div>

  <!-- Page 2 -->
  <div class="page" id="page-2">
    
    <table>
    <thead> 
    <th>Platz</th>
    <th>Score</th>
    <th>Name</th>
    <th>Land</th>
    </thead>
    <tbody>
      <tr ng-repeat="user in scoreTable | orderBy: 'score*1' : true" ng-class="{'me': (user.id == player.id)}">
          <td>{{$index +1}}</td>
          <td>{{user.score}}</td>
          <td>{{user.name}}</td>
          <td>{{user.land}}</td>
      </tr>
    </tbody>
    </table> 


  </div>

        









  </div>


    <!-- get Funtions from Unity -->
    <script type='text/javascript'>


      var saveToScope = function(data, to){
        setTimeout(function(){
          var scope = angular.element($('#main-scope')).scope();
          scope.$apply(function(){
              scope.player[to] = data;
          });
        }, 0);
      };

      var getUsername =  function(data){
        //console.log('get Username');
        //console.log(data);

        saveToScope(data, 'name');

      };

      var getStyle = function(data){
        console.log('get Style');
        console.log(data);
      };
      var getScore = function(data){
        var scope = angular.element($('#main-scope')).scope().savePlayer();
        var scope = angular.element($('#main-scope')).scope().getPlayersfromDB();
      };
      var getLiveScore = function(data){
        console.log('get Livescore');

        var scope = angular.element($('#main-scope')).scope().updatePlayer(data);
      };

      var getStyles = function(data){
        console.log('get Style Array');
        console.log(data);
      };

      var showStats = function(){
        console.log('show stats')
      };





    </script>



    <!-- Unity stuff -->
    <script type='text/javascript'>
  // connect to canvas
  var Module = {
    TOTAL_MEMORY: 268435456,
    filePackagePrefixURL: "Release/",
    memoryInitializerPrefixURL: "Release/",
    preRun: [],
    postRun: [],
    print: (function() {
      return function(text) {
        console.log (text);
      };
    })(),
    printErr: function(text) {
      console.error (text);
    },
    canvas: document.getElementById('canvas'),
    progress: null,
    setStatus: function(text) {
      if (this.progress == null) 
      {
        if (typeof UnityProgress != 'function')
          return;
        this.progress = new UnityProgress (canvas);
      }
      if (!Module.setStatus.last) Module.setStatus.last = { time: Date.now(), text: '' };
      if (text === Module.setStatus.text) return;
      this.progress.SetMessage (text);
      var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);
      if (m)
        this.progress.SetProgress (parseInt(m[2])/parseInt(m[4]));
      if (text === "") 
        this.progress.Clear()
    },
    totalDependencies: 0,
    monitorRunDependencies: function(left) {
      this.totalDependencies = Math.max(this.totalDependencies, left);
      Module.setStatus(left ? 'Preparing... (' + (this.totalDependencies-left) + '/' + this.totalDependencies + ')' : 'All downloads complete.');
    }
  };
  Module.setStatus('Downloading (0.0/1)');
</script>
<script src="Release/UnityConfig.js"></script>
<script src="Release/fileloader.js"></script>
<script>if (!(!Math.fround)) {
  var script = document.createElement('script');
  script.src = "Release/ver 0.4.js";
  document.body.appendChild(script);
} else {
  var codeXHR = new XMLHttpRequest();
  codeXHR.open('GET', 'Release/ver 0.4.js', true);
  codeXHR.onload = function() {
    var code = codeXHR.responseText;
    if (!Math.fround) { 
try {
  console.log('optimizing out Math.fround calls');
  var m = /var ([^=]+)=global\.Math\.fround;/.exec(code);
  var minified = m[1];
  if (!minified) throw 'fail';
  var startAsm = code.indexOf('// EMSCRIPTEN_START_FUNCS');
  var endAsm = code.indexOf('// EMSCRIPTEN_END_FUNCS');
  var asm = code.substring(startAsm, endAsm);
  do {
    var moar = false; // we need to re-do, as x(x( will not be fixed
    asm = asm.replace(new RegExp('[^a-zA-Z0-9\\$\\_]' + minified + '\\(', 'g'), function(s) { moar = true; return s[0] + '(' });
  } while (moar);
  code = code.substring(0, startAsm) + asm + code.substring(endAsm);
  code = code.replace("'use asm'", "'almost asm'");
} catch(e) { console.log('failed to optimize out Math.fround calls ' + e) }
 }

    var blob = new Blob([code], { type: 'text/javascript' });
    codeXHR = null;
    var src = URL.createObjectURL(blob);
    var script = document.createElement('script');
    script.src = URL.createObjectURL(blob);
    script.onload = function() {
      URL.revokeObjectURL(script.src);
    };
    document.body.appendChild(script);
  };
  codeXHR.send(null);
}
</script>

<script type="text/javascript">         
  // plain JavaScript example

  function jsonpCallback(data) { 
    
    //console.log(data.address['country_code']);

    saveToScope(data.address['country_code'], 'land');
    
  }

</script>
<script src="http://api.wipmania.com/jsonp?callback=jsonpCallback" type="text/javascript"></script>



  </body>
</html>
